<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.op.mycalculator">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MyCalculator" />
        <activity android:name=".MineSweeper" />
        <activity
            android:name=".RotateScreen"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".MyCalculator2" />
        <activity android:name=".GuessGame" />
        <activity android:name=".MatchGame" />
        <activity android:name=".Album"></activity>
    </application>

</manifest>